.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
    height: 5990px;
}

body {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(13,13,13,1) 100%);
    align-items: center;
}

.card {
    background-color: #021526;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card:hover {
    transform: translateY(-10px);
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
